* {
    font-family: serif;
}
html {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    width: 100%;
}
body {
    background-color:white;
    background-image: url(../img/foreground-1.png);
    background-attachment: fixed;
    margin: 0;
    padding: 0;
   display: flex;
    flex-wrap: wrap;
   width: 100%;
   
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 1em 4em;
    text-align: left;
}
section {
    display: block;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    scroll-snap-align: center;
}
img {
    position: fixed;
    z-index: 5;
}
body {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
  
.pink {
    background-color: rosybrown;
}

.green {
    background-color:darkolivegreen;
}

.violet {
    background-color:lavenderblush ;
}

.orange {
    background-color:lightsalmon;
}

.yellow {
    background-color:navajowhite;
}
